<p id="notice"><%= notice %></p>

<div class="container">

 <div class="card">

    <div class="card-body">
      <p>
       <strong class="card-title">Name:</strong>
       <%= @restaurant.name %>
         </p>

         <p>
       <strong class="card-title">Address:</strong>
       <%= @restaurant.address %>
         </p>

         <p>
       <strong class="card-title">Category:</strong>
       <%= @restaurant.category %>
         </p>
      <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
      <%= link_to 'Back', restaurants_path %></div>
    </div>


</div>




